body,p,span{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
    font-family: 'Rubik', sans-serif;
}
img{
    max-width: 100%;
}

.grybg{
    background-color: #f9fafb;
}

/*  Begain Custom Style  */
.main-header .container-fluid,
.slider-section .container-fluid{
    max-width: 1480px;
}
body .btn-primary {
    background-color: #e73a3e !important;
    border-color: #e73a3e;
    padding: 10px 40px;
    font-size: 16px;

    position: relative;
    z-index: 1;
}
body .btn-primary:hover{
    border-color: #111;
}
body .btn-primary::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #111;
    border-color: #111;

    z-index: -1;
    transition: .3s;
}
body .btn-primary:hover::after{
    width: 100%;
}

/* Menu */
ul.our-primary-menu{}
ul.our-primary-menu li{}
ul.our-primary-menu li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: #111;
    font-weight: 500;
}
ul.our-primary-menu li a:hover{}

/*  DropDown Menu CSS  */
ul.our-primary-menu li{
    position: relative;
}
ul.our-primary-menu li ul{
    position: absolute;
    width: 300px;
    left: 0;
    top: 160%;
    background: #fafafa;
    list-style: none;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}
ul.our-primary-menu li ul li{
    flex-direction: column;
}
ul.our-primary-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 120%;
}

ul.our-primary-menu li ul li a{}

.header-info{}
.header-search {
    width: 60px;
    font-size: 22px;
    text-align: center;
    margin-right: 20px;
    border-right: 1px solid #ddd;
}
.header-call{
    width: 220px;
}
.header-call-icon {
    font-size: 33px;
    color: #e73a3e;
}
.header-call-info span{
    color: #606060;
}
.header-call-info a{
    font-weight: 500;
    color: #111;
    text-decoration: none;
    font-size: 18px;
}
.header-button{}

/*  Slider / Banner CSS  */
.slider-section{
    background: url(img/main-banner2.jpg) no-repeat top center;
    background-size: cover;
}
.slider-content-wrap{
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
}

.slider-content h6{
    color: #e73a3e;
}
.slider-content h1 {
    font-size: 60px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.slider-content p{
    font-weight: 400;
    color: #606060;
    font-size: 20px;
}

.header-social{
    position: absolute;
    bottom: 0;
    left: 0;
}
.header-social ul{
    list-style: none;
    padding-left: 0;
}
.header-social ul li{}
.header-social ul li span {
	font-size: 18px;
	display: inline-block;
	margin-right: 50px;
	position: relative;
}
.header-social ul li span::after {
    content: "";
    height: 1px;
    background: #111;
    width: 35px;
    position: absolute;
    right: -45px;
    top: 51%;
}
.header-social ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 0 14px;
    color: #111;
    font-size: 19px;
}

/*  Begain part 2 css  */
.logo-secton {
    border-bottom: 1px solid #ddd;
}
.client-logo{}
.client-logo ul{
    list-style: none;
    padding-left: 0;
}

/*  About Section  */
.about-image{
    position: relative;
}
.about-img-text {
	position: absolute;
	right: 100px;
	bottom: 0;
	background: url(img/shape.png);
	height: 200px;
	width: 200px;
	background-size: contain;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
    align-items: center;
    justify-content: center;
}
.about-img-text h2{}
.about-img-text p{}


.about-text{}
.finix-text h6 {
    color: #e63b3d;
    font-weight: 400;
}
.finix-text h2 {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
}
.finix-text p {
    color: #606060;
    font-size: 18px;
}
.finix-text strong {
    color: #606060;
    font-weight: 400;
    font-size: 20px;
}
.finix-text ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}
.finix-text ul li {
    padding: 5px 0;
}
.finix-text ul li::before {
	content: "\f00c";
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	color: #e63b3d;
	display: inline-block;
	margin-right: 10px;
}



/*  Class part 3  */
/*  Why choose us section  */
.features-item{
    background: #fff;
    padding: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    transition: .5s;
}
.features-item:hover{
    transform: translateY(-12px);
}
.features-item::before {
    content: "";
    position: absolute;
    top: -135px;
    right: 0;
    left: 0;
    margin: auto;
    width: 90%;
    height: 70%;
    background: #fdebeb;
    border-radius: 50%;
}
.features-item .ft-icon {
    position: relative;
    z-index: 1;
}
.features-item .ft-icon i {
	color: #e73c3e;
	font-size: 32px;
	background: #fff;
	height: 90px;
	width: 90px;
	line-height: 90px;
    border-radius: 50%;
    transition: .5s;
}
.features-item:hover .ft-icon i{
    color: #fff;
    background: #e73c3e;
}
.mtop4{
    margin-top: -30px;
}
.ft-icon{}
.ft-icon h3{}
.ft-icon p{}

.finix-text{
    position: relative;
}
.paly-animation-btn {
	width: 90px;
	height: 90px;
	display: inline-block;
	background: #fff;
	font-size: 60px;
	text-align: center;
	line-height: 90px;
	color: #e73a3e;
	border-radius: 50%;
	position: absolute;
	right: 41%;
	bottom: 51px;
}
.paly-animation-btn::before{
    content: "";
    width: 90px;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    background: #e73a3e;
    border-radius: 50%;
    animation: palybtn 1.6s ease-out infinite;
}
@keyframes palybtn{
    0%,30%{
        transform: scale(0);
        opacity: 1;
    }
    50%{
        transform: scale(1.5);
        opacity: .7;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}

/*  Applay Now Section  */
/*  Part 4, Class  */
.applay-now-section{}
.applay-now-left-test{
    margin-top: 60px;
}


.step-timeline{}
.step-timeline ul {
    list-style: none;
    position: relative;
    padding-left: 60px;
}
.step-timeline ul::before {
    content: "";
    position: absolute;
    left: 15px;
    top: 10px;
    width: 1px;
    background: #e73a3e;
    height: calc(100% - 100px);
}
.step-timeline ul li {
    margin-bottom: 25px;
    position: relative;
}
.step-timeline ul li::before {
	content: attr(data-counter);
	position: absolute;
	left: -65px;
	top: 0;
	height: 40px;
	width: 40px;
	background: #f9fafb;
	border: 1px solid #e73a3e;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
}
.step-timeline ul li strong {
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
}
.step-timeline ul li p {
    color: #606060;
}

.calculate-rate{
    background-color: #fdebeb;
    padding: 50px;
}
.calculate-rate .finix-text{}
.calculate-rate .finix-text h6{
    color: #606060;
}


.calculate-from .form-group {
    margin-bottom: 20px;
}
.calculate-from .form-group input {
    border: none;
    border-radius: 0;
    padding: 14px 15px;
}
.calculate-from .form-group select{
    border: none;
    border-radius: 0;
    height: 53px;
}
.calculate-from .form-group label {
    display: block;
    margin-bottom: 10px;
}
